<section class="our-service">
  <div class="title-page mb-5">
    <h2>  {{nameMainServices}}
    </h2>
  </div>
  @if(ourServices) {
    <div class="content-service">
      <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          @for(item of ourServices ; track item.governorateId) {
            <li class="nav-item" role="presentation">
              <button class="nav-link active px-5" id="home-tab{{item.governorateId}}" data-bs-toggle="tab" attr.data-bs-target="#home-tab-pane{{item.governorateId}}" type="button" role="tab" attr.aria-controls="home-tab-pane{{item.governorateId}}" aria-selected="true">{{item.governorateNameAr}}</button>
            </li>

          }

        </ul>
        <div class="tab-content border-0" id="myTabContent">
          @for(item of ourServices ; track item.governorateId ; let i = $index) {

          <div class="tab-pane fade  py-5" [ngClass]="{ 'show active': i == 0 }"   id="home-tab-pane{{item.governorateId}}" role="tabpanel" attr.aria-labelledby="home-tab{{item.governorateId}}" tabindex="0">
            <div class="container-fluid">


                <app-item-service [itemsService]="item.services" ></app-item-service>



            </div>
          </div>
        }
        </div>
      </div>
    </div>

  } @else {

    <div class="no-data pb-5">
      <div class="image text-center">
        <img src="./assets/img/no-data.png" alt="" height="300px" width="300px" class="mx-auto">
      </div>
      <h4 class="text-center">لم يتم العثور على أي بيانات</h4>
    </div>
  }

</section>
