
<router-outlet></router-outlet>

<div class="button-fixed">
  <div class="social-media">
  <ul>
    <li title="Call">
      <a class="front" href="tel:{{info.phone}}"> <i class="fi fi-tr-phone-call sc"></i></a>
      <a class="back" href="tel:{{info.phone}}"><i class="fi fi-tr-phone-call sc"></i></a></li>
    <li title="Send Whatsapp">
      <a class="front" href="https://wa.me/{{info.whatsApp}}"><i class="fi fi-brands-whatsapp"></i></a>
      <a class="back" href="https://wa.me/{{info.whatsApp}}"><i class="fi fi-brands-whatsapp"></i></a></li>
    </ul>
</div>
