@use '../abstracts' as *;

.error {
  @include flexCenter;
  min-height: calc(100vh - rem(208));
  text-align: center;
  padding: rem(10);

  i {
    margin: 0 auto var(--s-24);
    display: block;
    max-width: 320px;
  }

  h1 {
    margin-bottom: rem(5);
    font-size: var(--s-26);
    font-weight: 500;
    color: var(--gray-70-color);

    span {
      font-weight: 700;
    }
  }

  p {
    font-size: var(--s-18);
    color: var(--gray-50-color);
    margin: 0;
  }

  .btn {
    margin-top: rem(15);
  }
  @include mqMax(lg)  {
    i {
      max-width: 220px;
    }

    h1 {
      font-size: var(--s-22);
    }

    p {
      font-size: var(--s-16);
    }
  }
}

.error-s {
  text-align: center;
  padding: rem(5);

  img {
    max-width: 160px;
  }

  h1 {
    font-size: var(--s-16);
    margin-top: rem(10);
  }
}
