<footer class="footer ">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-5">
        <div class="content">
          <h5>  من نحن</h5>
          <p>تقدم شركة فريون خدمات تنظيف شاملة مثل تنظيف المنازل والشقق والفلل وجلي البلاط وغيرها باستخدام اقوى انواع المنظفات المستوردة واحدث اجهزة التنظيف العالمية والعديد من الخدمات المنزلية الاخرى.
          </p>
        </div>
      </div>

      <div class="col-md-3 mb-5">
        <h5>خدماتنا</h5>
        <ul class="list-unstyled services-list">
          <li><a href="#" >خدمات التنظيف الشاملة</a></li>
          <li><a href="#" >خدمات العزل</a></li>
          <li><a href="#" >خدمات المكيفات</a></li>
          <li><a href="#" >خدمات مكافحة الحشرات</a></li>
          <li><a href="#" >خدمات رش المبيدات</a></li>
          <li><a href="#" >خدمات تسليك المجاري</a></li>
          <li><a href="#" >خدمات كشف تسربات المياه</a></li>
          <li><a href="#" >خدمات التركيب</a></li>
        </ul>

      </div>
      <div class="col-md-3 mb-5">
        <h5>بيانات الاتصال
        </h5>
        <p class="fw-bold mb-4"> <i class="fa-solid fa-location-dot me-2 fa-fw"></i> الموقع :
          <span class="ms-2 fw-light">الرياض المملكة العربية السعودية

          </span>
        </p>
        <p class="fw-bold mb-4"> <i class="fa-solid fa-clock me-2 fa-fw"></i> ساعات العمل :
          <span class="ms-2 fw-light">24/7 طوال ايام الاسبوع

          </span>
        </p>
        <p class="fw-bold"> <i class="fa-solid fa-mobile-screen me-2 fa-fw"></i>  رقم الجوال :
          <a  href="tel:0558796867" class="me-2 fw-light text-white dir-ltr d-inline-block"> (+966) 055 879 6867

          </a>
        </p>





      </div>
      <div class="col-md-3">
        <h5>سوشيال ميديا
        </h5>
        <ul class="list-unstyled  social-media">
          <li><a href="#" class="text-white"><i class="fa-brands fa-facebook-f fa-lg fa-fw"></i></a></li>
          <li><a href="#" class="text-white"><i class="fa-brands fa-x-twitter fa-lg fa-fw"></i></a></li>
          <li><a href="#" class="text-white"><i class="fa-brands fa-instagram fa-lg fa-fw"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<footer class="copy-right ">
  <p class="">حقوق الطبع والنشر  &copy; {{year}} شركتي. جميع الحقوق محفوظة.</p>
</footer>
