<header>

  <header class="top-header">
    <div class="container">
      <div class="d-flex justify-content-between">
        <p>مرحباً بكم في خدمة التنظيف الخاصة بنا في فريون!</p>
        <div class="col-md-3 d-flex justify-content-end">
          <ul class="list-unstyled social-media d-flex gap-2">
            <li>
              <a href="#" class="text-white"
                ><i class="fa-brands fa-facebook-f fa-fw"></i
              ></a>
            </li>
            <li>
              <a href="#" class="text-white"
                ><i class="fa-brands fa-x-twitter fa-fw"></i
              ></a>
            </li>
            <li>
              <a href="#" class="text-white"
                ><i class="fa-brands fa-instagram fa-fw"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <header class="header-contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 column">
          <a class="item-contact" href="tel:+0558796867">
            <div class="icon">
              <i class="fi fi-tr-phone-call sc"></i>
            </div>
            <div class="item-body-contant">
              <p>طلب المساعدة : </p>
              <p class="dir-ltr detail">(+966) 055 879 6867</p>
            </div>
          </a>
        </div>
        <!-- <div class="col-lg-3 column">
          <a class="item-contact" >
            <div class="icon">
              <i class="fi fi-tr-alarm-clock"></i>
            </div>
            <div class="item-body-contant">
              <p>السبت - الخميس  : </p>
              <p class="dir-ltr detail">9am - 8pm</p>
            </div>
          </a>
        </div> -->
        <div class="col-lg-3 col-md-6 column">
          <a class="item-contact" href="tel:+0558796867">
            <div class="icon">
              <i class="fi fi-brands-whatsapp"></i>
            </div>
            <div class="item-body-contant">
              <p class="dir-ltr text-end"> (+966) 055 879 6867   </p>
              <p class=" detail">تواصل معنا بالوتس اب</p>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 column">
          <a class="item-contact" >
            <div class="icon">
              <i class="fi fi-tr-newsletter-subscribe"></i>
            </div>
            <div class="item-body-contant">
              <p> {{email}}   </p>
              <p class=" detail">تواصل معنا بالبريد</p>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 column">
          <a class="item-contact" >
            <div class="icon">
              <i class="fi fi-tr-land-layer-location"></i>
            </div>
            <div class="item-body-contant">
              <p> الرياض المملكة العربية السعودية

              </p>
              <p class=" detail">  السعودية</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </header>

  <app-navbar></app-navbar>
</header>
