<header>

  <header class="top-header">
    <div class="container">
      <div class="d-flex justify-content-between">
        <p>مرحباً بكم في خدمة التنظيف الخاصة بنا في فريون!</p>
        <div class="col-md-3 d-flex justify-content-end">
          <ul class="list-unstyled social-media d-flex gap-2">
            <li>
              <a [href]="contactInfo.faceBookPage"  target="_blank" class="text-white"
                ><i class="fa-brands fa-facebook-f fa-fw"></i
              ></a>
            </li>
            <li>
              <a [href]="contactInfo.xPage" target="_blank" class="text-white"
                ><i class="fa-brands fa-x-twitter fa-fw"></i
              ></a>
            </li>
            <li>
              <a [href]="contactInfo.instagramPage"  target="_blank" class="text-white"
                ><i class="fa-brands fa-instagram fa-fw"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <header class="header-contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 column">
          <a class="item-contact" href="tel:{{contactInfo.phone}}">
            <div class="icon">
              <i class="fi fi-tr-phone-call sc"></i>
            </div>
            <div class="item-body-contant">
              <p>طلب المساعدة : </p>
              <p class="dir-ltr detail">
                <!-- (+966) 055 879 6867 -->
                {{formatPhoneNumber(contactInfo.phone)}}
              </p>
            </div>
          </a>
        </div>
        <!-- <div class="col-lg-3 column">
          <a class="item-contact" >
            <div class="icon">
              <i class="fi fi-tr-alarm-clock"></i>
            </div>
            <div class="item-body-contant">
              <p>السبت - الخميس  : </p>
              <p class="dir-ltr detail">9am - 8pm</p>
            </div>
          </a>
        </div> -->
        <div class="col-lg-3 col-md-6 column">
          <a class="item-contact" href="https://wa.me/{{contactInfo.phone}}">
            <div class="icon">
              <i class="fi fi-brands-whatsapp"></i>
            </div>
            <div class="item-body-contant">
              <p class="dir-ltr text-end">
                {{formatPhoneNumber(contactInfo.phone)}}
                </p>
              <p class=" detail">تواصل معنا بالوتس اب</p>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 column">
          <a class="item-contact" href="mailto:{{contactInfo.email}}">
            <div class="icon">
              <i class="fi fi-tr-newsletter-subscribe"></i>
            </div>
            <div class="item-body-contant">
              <p> {{contactInfo.email}}   </p>
              <p class=" detail">تواصل معنا بالبريد</p>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 column">
          <a class="item-contact" target="_blank" href="https://goo.gl/maps/2v7Z3a5x8z6g4G9s7">
            <div class="icon">
              <i class="fi fi-tr-land-layer-location"></i>
            </div>
            <div class="item-body-contant">
              <p>
                 <!-- الرياض المملكة العربية السعودية -->
                 {{contactInfo.address}}
              </p>
              <p class=" detail">  السعودية</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </header>

  <app-navbar></app-navbar>
</header>
<div class="button-fixed">
  <div class="social-media">
  <ul>
    <li title="Call"><a class="front" href="tel:{{contactInfo.phone}}"> <i class="fi fi-tr-phone-call sc"></i></a><a class="back" href="tel:{{contactInfo.phone}}"><i class="fi fi-tr-phone-call sc"></i></a></li>
    <li title="Send Whatsapp"><a class="front" href="https://wa.me/{{contactInfo.phone}}"><i class="fi fi-brands-whatsapp"></i></a><a class="back" href="https://wa.me/{{contactInfo.phone}}"><i class="fi fi-brands-whatsapp"></i></a></li>
    </ul>
</div>
